/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;1,6..12,500&family=Nunito:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  list-style: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-style: normal;
  scroll-behavior: smooth;
}

.container {
  width: 95%;
  margin: auto;
}

.section1 {
  height: 100vh;
  width: 100%;
}

.section1 .one .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: white;
  padding: 20px 0;
  z-index: 10;
}

.section1 .one .header i {
  font-size: 20px;
  cursor: pointer;
}

.section1 video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
  object-fit: cover;
  z-index: -1;
}

.section1 .one .text-content {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.section1 .one .text-content .head h1 {
  font-size: 6.8vw;
  font-weight: 600;
  line-height: 7rem;
}

.section1 .one .text-content .head span {
  color: yellow;
}

/* NOW LETS MAKE OUR CURSOR */
.cursor {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 80;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/* Section 2 */

.section2 {
  min-height: 100vh;
  width: 100%;
  cursor: pointer;
}

.section2 {
  min-height: 100vh;
  width: 100%;
  cursor: pointer;
}

.section2 video {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

/* section 3 */

.section3 {
  min-height: 100vh;
  width: 100%;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.section3 .three {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.section3 .three .left,
.section3 .three .right {
  width: 100%;
  height: 100%;
}

.section3 .three .left video {
  width: 80%;
  height: 80%;
}

.section3 .three .right h1 {
  margin: 30px 0;
  font-weight: 500;
}

/* section 4 */

.section4 {
  min-height: 100vh;
  height: 100%;
  padding: 20px 0;
  overflow: hidden;
}

.section4 .services {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 1px solid #ccc;
  color: #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: auto;
}

.section4 .services:hover {
  background-color: #0f0f0f;
}

.section4 .services:hover h5 {
  color: white;
}

.section4 .four .moving-text .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  white-space: nowrap;
  margin: 50px 0;
}

.section4 .four .moving-text .text .first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  white-space: nowrap;
  -webkit-animation: move linear infinite 15s;
  animation: move linear infinite 15s;
}

.section4 .four .moving-text .text .first video {
  height: 150px;
  width: 150px;
  margin: 0 50px;
}

.section4 .four .moving-text .text .first h1 {
  font-size: 6vw;
  text-transform: uppercase;
}

@-webkit-keyframes move {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  to {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@keyframes move {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  to {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

/* ============projects========== */

.section4 .four .projects {
  position: relative;
  min-height: 100vh;
  width: 100%;
  z-index: 10;
  overflow: hidden;
}

.section4 .four .projects .bg {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  z-index: -1;
}

.section4 .four .projects .bg::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #0f0f0f6e;
  z-index: 1;
}

.section4 .four .projects .bg video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  position: relative;
  display: none;
}

.section4 .four .projects .first-project .first {
  margin: 100px 0;
  padding: 40px;
  /* background-color: red; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.section4 .four .projects .first-project .first .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section4 .four .projects .first-project .first .about h4 {
  margin: 0 30px;
  border: 1px solid #ccc;
  padding: 7px 10px;
  border-radius: 30px;
  opacity: 0;
  -webkit-transform: translateY(20px);
  -ms-transform: translateY(20px);
  transform: translateY(20px);
  -webkit-transition: all ease 1s;
  -o-transition: all ease 1s;
  transition: all ease 1s;
}

.section4 .four .projects .first-project .first:hover h4 {
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

/* sections 5 */
.section5 {
  height: 100vh;
  width: 100%;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.section5 .five {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 30px;
}

.section5 .five .left,
.section5 .five .right {
  height: 100%;
  width: 100%;
  margin-left: 100px;
}

.section5 .five .right video {
  height: 90%;
  width: 90%;
}

.section5 .five .left .one {
  overflow: hidden;
  margin: 50px 0;
}

.section5 .five .left h1 {
  font-size: 2.5vw;
}

/* section 6 */
.section6 {
  min-height: 50vh;
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow-x: hidden;
}

.section6 .six .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.section6 .six .move {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  white-space: nowrap;
  -webkit-animation: scrolling linear infinite 15s;
  animation: scrolling linear infinite 15s;
}

.section6 .six .move h1 {
  font-size: 3.7vw;
  text-transform: uppercase;
  font-weight: 900;
}

.section6 .six .move span {
  color: red;
}

.section6 .six .move i {
  margin: 0 30px;
  font-size: 50px;
  color: red;
}

@-webkit-keyframes scrolling {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@keyframes scrolling {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

.section6 .six .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 30px 0;
  white-space: nowrap;
}

.section6 .six .right .like {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  white-space: nowrap;
  -webkit-animation: like linear infinite 15s;
  animation: like linear infinite 15s;
}

.section6 .six .right .like .one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  white-space: nowrap;
}

.section6 .six .right .like .one h1 {
  font-size: 3.7vw;
  font-weight: 800;
  text-transform: uppercase;
}

.section6 .six .right .like .one i {
  font-size: 50px;
  margin: 0 50px;
  color: red;
}

@-webkit-keyframes like {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}

@keyframes like {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}

/* section 7 */

.section7 {
  height: 100vh;
  width: 100%;
  padding: 30px 0;
  text-align: center;
}

.section7 .follow .box {
  margin: 50px 0;
  padding: 15px 0;
  /* background: aqua; */
  position: relative;
  overflow: hidden;
}

.section7 .follow .box .back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #222222;
  opacity: 0;
  -webkit-transform: translateY(30px);
  -ms-transform: translateY(30px);
  transform: translateY(30px);
  -webkit-transition: 0.7s ease all;
  -o-transition: 0.7s ease all;
  transition: 0.7s ease all;
}

.section7 .follow .box:hover .back {
  background-color: #222222;
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.section7 .follow .box .back .insta {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  /* background: red; */
  -webkit-animation: insta linear infinite 15s;
  animation: insta linear infinite 15s;
  opacity: 0;
  scale: 0.5;
  -webkit-transition: all ease 0.7s;
  -o-transition: all ease 0.7s;
  transition: all ease 0.7s;
}

.section7 .follow .box:hover .back .insta {
  opacity: 1;
  scale: 1.1;
}
.section7 .follow .box .back .insta h3 {
  margin: 0 50px;
  font-size: 2vw;
  white-space: nowrap;
}

@-webkit-keyframes insta {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@keyframes insta {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
